<table style="margin: 25px auto;" border="0" cellspacing="0" cellpadding="0" width="648" align="center">
<tbody>
<tr>
    <td style='color:#40AA53;'><h1 style='margin-bottom:10px;'>{{ site }}</h1></td>
</tr>
<tr>
    <td style="border-left: 1px solid #D1FFD1; padding: 20px 20px 0; background: none repeat scroll 0 0 #ffffff; border-top: 5px solid #40AA53; border-right: 1px solid #D1FFD1;">
        <p>{{ nickname }}, 你好 </p>
    </td>
</tr>
<tr>
    <td style="border-left: 1px solid #D1FFD1; padding: 10px 20px; background: none repeat scroll 0 0 #ffffff; border-right: 1px solid #D1FFD1;">
        <p>您正在重设<strong>{{ site }}</strong>账号的密码！</p>
        <p style="font-weight:bold">请点击以下链接修改此帐号的密码：<br/>
            <a href="https://{{ url }}/user/reset?code={{ code }}">https://{{ url }}/user/reset?code={{ code }}</a></p>

    </td>
</tr>
<tr>
    <td style="border-bottom: 1px solid #D1FFD1; border-left: 1px solid #D1FFD1; padding: 0 20px 20px; background: none repeat scroll 0 0 #ffffff; border-right: 1px solid #D1FFD1;">
        <hr style='color:#ccc;'/>
    </td>
</tr>
</tbody>
</table>