<table style="margin: 25px auto;" border="0" cellspacing="0" cellpadding="0" width="648" align="center">
    <tbody>
    <tr>
        <td style='color:#343a40;'><h1 style='margin-bottom:10px;'>{{ site }}</h1></td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #eceaec; padding: 20px 20px 0; background: none repeat scroll 0 0 #ffffff; border-top: 5px solid #343a40; border-right: 1px solid #eceaec;">
            <p>尊敬的{{ nickname }}, 你好 </p>
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #eceaec; padding: 10px 20px; background: none repeat scroll 0 0 #ffffff; border-right: 1px solid #eceaec;">
            <p>您已开通<strong>{{ site }}</strong>的支付服务</p>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #eceaec; border-left: 1px solid #eceaec; padding: 0 20px 20px; background: none repeat scroll 0 0 #ffffff; border-right: 1px solid #eceaec;">
            <hr style='color:#ccc;'/>
        </td>
    </tr>
    </tbody>
</table>