<html lang="zh-cn">
<head>
    <title><?=constant("TP_SITE_NAME")?></title>
    <?php include "template/common/header.html"; ?>
    <link href="/static/css/article.css" rel="stylesheet">
</head>
<body>
<?php include "template/common/navbar.html"; ?>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <?php if($credit!=-1):?>
                    账户余额: <?=$credit?> 个硬币
                    <?php else:?>
                    <a href="/pay/start" role="button" class="btn btn-dark">开通<?=TP_SITE_NAME?>支付</a>
                    <?php endif;?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include "template/common/footer.html"; ?>
</body>
</html>